* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
}

h2,
p,
label {
    margin-bottom: 0.5em;
    font-weight: 500;
}

.username-error {
    color: rgb(147, 42, 42);
}

.room-number-input,
.username-input {
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    width: 70%;
    height: 1.5rem;
    box-sizing: border-box;
    background-color: rgb(212, 212, 212);
}
.room-number-input:focus,
.username-input:focus {
    background-color: #c65588;
}

.btn {
    color: #fff;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.2s;
    background-color: #161616;
    backdrop-filter: blur(10px);
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 5rem 35rem rgba(0, 0, 0, 0.1);
}

.modal .btn {
    position: relative;
    left: 44%;
}

.btn:active {
    transform: translateY(15%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #3c393b;
    color: #c65588;
}

.website-title {
    font-family: fantasy;
    text-align: start;
    padding-left: 5rem;
    font-size: 3rem;
    height: 100vh;
    color: #fff;
    line-height: 2;
    background: linear-gradient(to top left, #353434, #1e1d1d, #000000);
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
}

.main-grid {
    text-align: center;
    row-gap: 2em;
    display: grid;
    grid-template-areas:
        'title title title username'
        'title title title generate'
        'title title title join';
}

.main-grid-item1 {
    grid-area: title;
}
.main-grid-item2 {
    grid-area: username;
    align-self: end;
}

.main-grid-item3 {
    grid-area: generate;
    align-self: center;
}

.main-grid-item4 {
    grid-area: join;
    justify-self: stretch;
}

.modal {
    position: absolute;
    line-height: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.call-page-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-size: 100% 200%;
    background-image: linear-gradient(
        180deg,
        rgb(10, 9, 9) 0%,
        rgb(10, 9, 9) 30%,
        rgb(59, 19, 46) 100%
    );
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 100% 5%;
    }
    50% {
        background-position: 100% 55%;
    }
    100% {
        background-position: 100% 5%;
    }
}

.call-ui-grid {
    position: fixed;
    gap: 0.5rem;
    height: 98vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 8% 64% 27%;
    grid-template-areas:
        'header chat'
        'main-video chat'
        'sec-video chat';
}

.call-ui-grid-item1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    grid-area: header;
}

.call-ui-grid-item1 .title {
    font-family: fantasy;
    font-size: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    cursor: pointer;
}

.call-ui-grid-item1 .roomID {
    font-size: 1.2rem;
    justify-self: center;
}

.settings-area {
    display: flex;
    gap: 0.5rem;
    font-size: 2rem;
}

.call-ui-grid-item1 i {
    padding-top: 5px;
    padding-right: 0.7rem;
    cursor: pointer;
}

.call-ui-grid-item1 i:hover {
    color: #c65588;
}

.call-ui-grid-item2 {
    position: relative;
    grid-area: main-video;
    overflow: hidden;
}

.call-ui-grid-item3 {
    margin-left: 2px;
    left: 0px;
    overflow: hidden;
    grid-area: sec-video;
}
.hidden {
    display: none;
}

video {
    background-color: #000;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform ease 0.2s;
}

.main-video {
    text-align: center;
    width: 65%;
    height: 90%;
    justify-self: center;
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
}

.main-username {
    display: block;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    color: #fff;
    width: 100%;
    position: relative;
    background: rgba(54, 52, 52, 0.2);
}

.flex-video-container {
    cursor: grab;
    padding-top: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    display: flex;
    gap: 0.8rem;
}

.flex-video-item {
    display: flex;
    position: relative;
    text-align: center;
    cursor: pointer;
    min-width: 24%;
    min-height: 95%;
    transition: transform ease 0.2s;
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
}

.flex-video-item > video {
    border-radius: 0.4rem;
}

.flex-video-item > span {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    position: absolute;
    color: #fff;
    width: 100%;
    background: rgba(54, 52, 52, 0.2);
}

.flex-video-item:hover {
    transform: scale(1.1);
}

.settings-overlay {
    box-sizing: border-box;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3.5rem;
    color: #fff;
    position: absolute;
    background-color: rgba(104, 98, 98, 0.15);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    padding-left: 2px;
    top: -100%;
    z-index: 100;
    border-radius: 0.4rem;
    transition: transform ease 1s;
}

select {
    max-width: 30%;
}

.settings-overlay span {
    margin-right: 10px;
}

.settings-close-button {
    cursor: pointer;
    font-size: 2rem;
    padding-right: 10px;
}

.settings-close-button:hover {
    color: #c65588;
}
.apply-settings {
    margin-right: 30px;
}

.settings-overlay-enable {
    transform: translateY(100%);
}

.call-ui-grid-item4 {
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: inherit;
    text-align: center;
    grid-area: chat;
    border-left: #b4a5ad solid 0.1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    box-shadow: -3px -1px 10px 0 #191919;
}

.chat-flex {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.chat-flex > :first-child {
    margin-top: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #461e30;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #c65588;
    border-radius: 5px;
}

.chat-title {
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.input-area {
    z-index: 200;
    padding-left: 0.5rem;
    display: flex;
    gap: 0.5rem;
    justify-self: end;
    justify-content: center;
}

.message {
    position: relative;
    max-width: 50%;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    display: block;
    border-radius: 0.4rem;
    padding: 0.2rem;
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
}

.chat-flex-my-message {
    align-self: flex-start;
    margin-left: 0.8rem;
    background-color: #3c393b;
    color: white;
}

.message::before {
    content: attr(username);
    position: absolute;
    font-size: small;
    color: rgba(255, 255, 255, 0.454);
    top: -17px;
    left: 2px;
}

.chat-flex-others-message {
    align-self: flex-end;
    margin-right: 0.8rem;
    background-color: #c65588;
    color: white;
}

.file-flex {
    max-width: 50%;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    display: block;
    color: rgba(255, 255, 255, 0.454);
    font-size: smaller;
}

.file > p {
    max-height: 50px;
    overflow-y: hidden;
}

.chat-flex-my-file {
    align-self: flex-start;
    margin-left: 0.8rem;
}

.chat-flex-others-file {
    align-self: flex-end;
    margin-right: 0.8rem;
}

.file {
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
    width: 32px;
    border-radius: 0.5rem;
    padding: 0.8rem;
    height: 32px;
}

.my-file {
    background-color: #3c393b;
}

.others-file {
    background-color: #c65588;
}

.message-input {
    background-color: #b4a5ad;
    font-weight: 500;
    font-family: 'Tahoma', sans-serif;
    font-size: large;
    width: 80%;
    border-radius: 0.5rem;
}

.send-button,
.file-share-button {
    cursor: pointer;
    font-size: 1.7rem;
    color: #7a566f;
}

.send-button {
    padding-right: 1rem;
}

.send-button:hover,
.file-share-button:hover {
    color: #c65588;
}

.user-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.8%;
    left: -12%;
    background-color: rgba(54, 52, 52, 0.2);
    width: 12%;
    height: 62%;
    border-radius: 0.5rem;
    transition: transform ease 1s;
    z-index: 6;
    box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.44);
}

.user-list-title {
    color: #fff;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    border-bottom: #b4a5ad solid 1px;
}

.user-flex-items {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
}

.user-flex-item {
    width: 100%;
    font-family: inherit;
}

.user-flex-item:hover {
    color: #c65588;
}

.user-list::after {
    content: url('icons/caret-right-solid.svg');
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 100%;
    width: 14px;
    height: fit-content;
    z-index: 7;
    transition: transform ease 1s;
}

.user-list:hover {
    transform: translateX(100%);
}

.user-list:hover::after {
    transform: rotate(180deg);
}
