* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
}

h2,
p,
label {
    margin-bottom: 0.5em;
    font-weight: 500;
}

.username-error {
    color: rgb(147, 42, 42);
}

.room-number-input,
.username-input {
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    width: 70%;
    height: 1.5rem;
    box-sizing: border-box;
    background-color: rgb(212, 212, 212);
}
.room-number-input:focus,
.username-input:focus {
    background-color: #c65588;
}

.btn {
    color: #fff;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.2s;
    background-color: #161616;
    backdrop-filter: blur(10px);
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 5rem 35rem rgba(0, 0, 0, 0.1);
}

.modal .btn {
    position: relative;
    left: 40%;
}

.btn:active {
    transform: translateY(15%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #3c393b;
    color: #c65588;
}

.website-title {
    font-family: fantasy;
    text-align: start;
    padding-left: 5rem;
    font-size: 3rem;
    height: 100vh;
    color: #fff;
    line-height: 2;
    background: linear-gradient(to top left, #353434, #1e1d1d, #000000);
}

.main-grid {
    text-align: center;
    row-gap: 2em;
    display: grid;
    grid-template-areas:
        'title title title username'
        'title title title generate'
        'title title title join';
}

.main-grid-item1 {
    grid-area: title;
}
.main-grid-item2 {
    grid-area: username;
    align-self: end;
}

.main-grid-item3 {
    grid-area: generate;
    align-self: center;
}

.main-grid-item4 {
    grid-area: join;
    justify-self: stretch;
}

.modal {
    position: absolute;
    line-height: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.call-page-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-size: 100% 200%;
    background-image: linear-gradient(
        180deg,
        rgb(10, 9, 9) 0%,
        rgb(10, 9, 9) 30%,
        rgb(59, 19, 46) 100%
    );
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 100% 5%;
    }
    50% {
        background-position: 100% 55%;
    }
    100% {
        background-position: 100% 5%;
    }
}

.call-ui-grid {
    position: fixed;
    gap: 0.5rem;
    height: 98vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 6.5% 70% 23.5%;
    grid-template-areas:
        'header chat'
        'main-video chat'
        'sec-video chat';
}

.call-ui-grid-item1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    grid-area: header;
    border-bottom: #353434 solid 0.1rem;
}

.call-ui-grid-item1 .title {
    font-family: fantasy;
    font-size: 3rem;
    padding-left: 1rem;
    cursor: pointer;
}

.call-ui-grid-item1 .roomID {
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
    margin-right: 3rem;
}

.call-ui-grid-item1 .settings {
    font-size: 3rem;
    padding-top: 5px;
    color: #7a566f;
    cursor: pointer;
    transition: transform 4s linear 0s;
}

.settings:hover {
    transform: rotate(360deg);
}

.call-ui-grid-item2 {
    grid-area: main-video;
}
.call-ui-grid-item3 {
    margin-left: 2px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-area: sec-video;
}

.call-ui-grid-item4 {
    color: aliceblue;
    font-family: inherit;
    text-align: center;
    grid-area: chat;
    border-left: #353434 solid 0.1rem;
    display: flex;
    flex-direction: column;
}

.chat-title {
    font-size: xx-large;
}

.message-area {
    width: 100%;
    height: 100%;
}

.input-area {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    justify-self: end;
    justify-content: center;
    padding-bottom: 0.8rem;
}

.message-input {
    background-color: #b4a5ad;
    font-weight: 500;
    font-family: 'Tahoma', sans-serif;
    font-size: large;
    width: 80%;
    border-radius: 0.2rem;
}

.send-button {
    cursor: pointer;
    font-size: 1.7rem;
    padding-right: 1rem;
    color: #7a566f;
}

.hidden {
    display: none;
}

video {
    background-color: #000;
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    border: 1px solid #353434;
    border-style: ridge;
}

.main-video {
    width: 65%;
    height: 90%;
    justify-self: center;
}

.flex-video-container {
    cursor: grab;
    padding-top: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    display: flex;
    gap: 0.8rem;
}

.flex-video-item {
    cursor: pointer;
    width: 25%;
    height: 95%;
    transition: transform ease 0.2s;
}

.flex-video-item:hover {
    transform: scale(1.2) translate(0, -10px);
}
